*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  margin: 8px;
  background-image: linear-gradient(
    to right,
    rgba(234, 196, 114, 0.6), 
    rgba(234, 196, 114, 0.6) ),
  url(./random-img/1107815.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.button {
  width: 150px;
  height: 50px;
  color: blueviolet;
  background-color: bisque;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.button:hover {
  background-color: green;
  color: white;
}
.button::before,
.button::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button::before {
  background-color: black;
  margin-right: 3px;
}
.button:hover::before {
  transform: translateY(-40px);
}
.button::after {
  background-color: pink;

  position: absolute;
  top: 50%;
  left: 43px;
  transform: translateY(calc(-50% + 43px));
  }

.button:hover::after {
  transform: translateY(-50%);
}

/* ---------------------------Menu with underline and submenu------------- */
.menu-with-underline {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menu-with-underline > li:not(:last-child) {
  margin-right: 10px;
}

.menu-link {
  position: relative;

  outline: 1px solid blue;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.menu-link::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: aquamarine;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover::after {
  opacity: 1;
}

/* Можно анимировать ширину, тогда у кнопки ширина 0% а у ховера 100% - тогда она будет выезжать 
Ещё можно через transform: scalex(0)*/

/* --------------- Submenu --------------------*/

.menu2 {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  display: flex;
}

.menu2> li:not(:last-child) {
  margin-right: 10px;
}

.menu-link2 {
  position: relative;

  outline: 1px solid green;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.sub-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;

  padding: 10px;
  margin: 0;
  
  list-style: none;
  background-color: aquamarine;
  display: none;
}
.sub-menu a {
  text-decoration: none;
}
.submenu-folder {
  position: relative;
}
.submenu-folder:hover .sub-menu {
  display: block;
}
/* Чтобы сделать видимым - надо обращаться к ребенку через отца */
/* -----------------------------CARD animation----------------- */
.product-actions {
  outline: 3px solid orange;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 500ms opacity linear;
}
.genshin-best-scene:hover .product-actions {
  opacity: 1;
  
}
.genshin-best-scene {
  margin-top: 30px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.article-image {
  display: block;
  margin-bottom: 0;
}
.product-meta {
  padding: 20px;
}
.thumb {
  position: relative;
}
.thumb::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 64, 33, 0.434);
  opacity: 0;
  transition: 500ms opacity linear;
}
.thumb:hover::before {
  opacity: 1;
}

.product-meta {
  background-color: wheat;
}
/* --------Card transition-----------------  */
.scene2 {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.thumb2 {
  position: relative;
}


.genshin-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(81, 64, 33, 0.434);
  /* opacity: 0; */
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.genshin-best-scene:hover .genshin-overlay {
  transform: translateX(0);
}

/* --------Modal window---------------------- */
.modal-window-button {
  padding: 5px;
  width: 200px;
}
.backgrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 147, 130, 0.443);
}
.backgrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 400px;
  min-width: 400px;
  padding: 15px;

  background-color: beige;
}